#signup-page {
    display: flex;
    flex-direction: column-reverse;
    width: 100vw;
    height: 100vh;
}

.signup-back-button {
    display: none;
}


/* form wrapper */
.signup-form-wrapper {
    height: 65%;
}
.signup-form {
    padding: 5rem 4rem;
}


.main-options-signup {
    font-family: Poppins, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text-title);
}
.main-options-signup h2 {
    margin-bottom: 1rem;
    font-size: 3.4rem;
}

.main-options-signup p {
    color: var(--color-text-base);
    margin-bottom: 2rem;
    font-size: 1.4rem;
    max-width: 20rem;
}

.signup-inputs-container > .divided-input {
    display: grid;
    column-gap: 1rem;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    align-items: center;
    justify-content: center;
}



/* logo part */
.signup-page-logo {
    height: 35%;
    background: url('../../assets/images/success-background.svg') center/65rem no-repeat;
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.signup-page-logo > div {
    text-align: left;
}

.signup-page-logo > div img {
    width: 23rem;
}
.signup-page-logo > div p {
    max-width: 15rem;
    color: var(--color-text-in-primary);
    margin-top: 0.5rem;
    font: 400 1.4rem Poppins, sans-serif;
}

.invalid-information {
    margin-top: 4rem;
    color: #FF5050;
}

.signup-button {
    cursor: pointer;
    margin-top: 3rem;
    width: 100%;
    border: none;
    color: var(--color-title-in-primary);
    transition: background-color .2s;
    background-color: var(--color-secundary);
    padding: 1.5rem 0;
    border-radius: 0.8rem;
    
    font: 400 1.9rem Poppins, sans-serif;
}
.signup-button:hover {
    background-color: var(--color-secundary-dark);
}



@media(min-width: 1100px) {
    #signup-page {
        flex-direction: row;
    }

    /* left screen */
    .signup-form-wrapper {
        width: 50%;
        height: 100%;
        
        display: grid;
        grid-template-rows: 8rem 1fr;
        grid-template-columns: 1fr;
        
        align-items: center;
        justify-content: center;
    }

    .signup-back-button {
        display: block;
    }
    .signup-back-button img {
        cursor: pointer;
        margin-left: 15%;
    }
    
    .signup-form {
        margin: 0 auto;
        width: 75%;
        height: auto;
    }
    
    .signup-form .main-options-signup h2 {
        margin-bottom: 1rem;
        font-size: 4.2rem;
    }
    
    .signup-form .main-options-signup p {
        max-width: 25rem;
        margin-bottom: 3rem;
        font-size: 1.6rem;
    }

    /* right screen */
    .signup-page-logo {
        background-size: 90%;
        width: 50%;
        height: 100%;
    }
    .signup-page-logo > div img {
        width: 33rem;
    }
    .signup-page-logo > div p {
        font-size: 2rem;
        max-width: 25rem;
    }
}

@media(max-width: 600px) { 
    .signup-inputs-container > .divided-input {
        grid-template-columns: 1fr;
    }
}